{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    
    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'hotel/base.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- first FontAwesome key then jQuery, then Popper.js, last Bootstrap JS -->
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
    {% if title %}
        <title>Podvis Bor - {{ title }}</title>
    {% else %}
        <title>Podvis Bor</title>
    {% endif %}
</head>
<body>
    {% block header %}
    
    <header class="">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
                    <div>
                    <a class="navbar-brand mr-4" href="#"><i class="fas fa-map-marker-alt"></i></a>
                    <a class="navbar-brand mr-4" href="{% url 'page-one' %}">hotel<strong>Podvis Bor</strong></a>
                    </div>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav title-menu">
                            <a class="nav-item nav-link" href="{% url 'booking-view' %}">Book now</a>
                            <a class="nav-item nav-link" href="{% url 'gallery-page' %}">Location</a>
                            <a class="nav-item nav-link" href="#">Login</a>
                            <a class="nav-item nav-link" href="#">Register</a>
                        </div>
                    </div>
			</div>
		</nav>
	</header>
    {% endblock header %}
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block content %}
    {% endblock %}
    <main role="main" class="container">

      <div class="row">
        <div class="col-md-10">
            <form action="" method="POST">
                <div class="form-row">
                {% csrf_token %}
                    <div class="col-3"><input type="text" class="form-control" id="checks_in" placeholder="check in"></div>
                    <div class="col=2"><input type="text" class="form-control" id="checks_out" placeholder="check-out"></div>
                    <div class="col-2"><input type="text" class="form-control" id="adults" placeholder="adults"></div>
                    <div class="col-2"><input type="text" class="form-control" id="children" placeholder="children"></div>
                    <div class="col-2"><button type="submit" class="btn btn-primary">Check rooms</button></div>
                </div>
            </form>
        </div>
        <div class="col-md-2">
          <div class="content-section text-white">
            <h3 class="text-white">Reviews score</h3>
            <p class="">8.7
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Reviews</li>
                <li class="list-group-item list-group-item-light">first review</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
	<!-- manual base.js-->
	{% block postload_js %}
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'hotel/datepicker.js' %}"></script>
	{% endblock %}
</body>
</html>