{% extends "hotel/base.html" %}
{% block content %}
    {% for booking in bookings %}
        <article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="#">{{ booking.user }}</a>
					<small class="text-muted">{{ booking.content}}</small>
				</div>
				<h2><a class="article-title" href="#">{{ booking.room }}</a></h2>
				<p class="article-content">from: {{ booking.checkin }} to: {{ booking.checkout}}</p>
			</div>
		</article>
    {% endfor %}
{% endblock content %}