{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container h-100">
    <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Reserve your stay</h2>
                <hr class="w-100 mb-1">
            </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
               <button class="btn btn-primary" type="submit" name="button">Book</button>
            </form>
            </div>
           
            
                        <div class="col-12 col-lg-6">
                        <div class="card h-100 border-0">
					<a><h4>Room Details</h4>
						<h4 class="mb-0">{{ unit.category }}</h4>
						<img class="card-img-top img-fluid" src="../media/dvoina49.jpg" alt="...">
		        </a>
						<div class="card-body pb-0">
		
						</div>
						<div class="card-footer bg-white pt-0 border-0 text-left">
							<div class="row">
								<div class="col">
									<p class="lead mb-0 text-left font-weight-bold"></p>
								</div>
							</div>
						</div>
						<small class="text-muted"><i class="fas fa-chart-line"></i></small>
						<small class="text-muted">No Dashboard</small>
				</div>
            </div>
        </div>
    </div> 
{% block postload_js %}
    <script src="{% static 'hotel/datepicker.js' %}"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% endblock %}