{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve Room</title>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div class="content-section">
        <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Book Room</button><br>
        </form><hr>
    </div>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" id="checks_in" placeholder="check in">
        <input type="text" id="checks_out" placeholder="check out">
        <button type="submit">Book Room</button>
    </form><hr>
    {% block postload_js %}
    <script src="{% static 'hotel/datepicker.js' %}"></script>
    {% endblock %}
</body>
</html>